 .veg, th, td{
  border: 1px solid black;
  font-weight: 700;
 }
 th{
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
 }
 #section-veg{
  text-align: center;
  width: 100%;
  height: auto;
 }
 /* #section-veg.h{
  height: 900px;
 }  */
 .veg{
  text-align: center;
  width: 90%;
  height: 500px;
  margin: 5%;
  background-image: url('https://t4.ftcdn.net/jpg/01/88/74/65/360_F_188746535_DA865YDipdoCZs3qB65NgyT8khKDaBKe.jpg');
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-position: center;
  background-size: cover;
  display:none;
  /* visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none; */

 }
 .veg.open-table{
/* opacity:1;
visibility: visible;
pointer-events: auto; 
don't add this extra things for the space to cover up*/
display:table;

 }
 .veg-heading{
  width: 80%;
  height: 80px;
  text-align:center;
  /* margin-left: 5%; */
  margin-top: 10%;
  font-size: 2rem;
  letter-spacing: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: rgb(147, 200, 82) underline;
  background-color:rgba(245, 255, 224, 0.278);
  border: 1.5mm ridge rgb(244, 255, 224);
 }
 .veg-heading:hover{
  background-color:rgba(216, 248, 147, 0.278);
border: 1.7mm ridge rgb(166, 225, 107);
 }
 .veg-heading:active{
  background-color:rgba(245, 255, 224, 0.278);
  border: 1.5mm ridge rgb(244, 255, 224);
 }
  
 #section-non-veg{
  margin-top: 10%;
  text-align: center;
  width: 100%;
  height: auto;
 }
 .non-veg-heading{
  width: 80%;
  height: 80px;
   text-align:center;
  /* margin-right: 5%; */
  /* margin-top: 5%; */
  margin-bottom: 5%;
  font-size: 2rem;
  letter-spacing: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: rgb(234, 54, 54) underline;
   background-color:rgba(251, 205, 177, 0.278);
  border: 1.5mm ridge rgb(246, 180, 145);
 }
 .non-veg-heading:hover{
   background-color:rgba(251, 170, 119, 0.278);
  border: 1.7mm ridge rgb(251, 128, 87);
 }
 .non-veg-heading:active{
  background-color:rgba(255, 206, 175, 0.278);
  border: 1.5mm ridge rgb(246, 180, 145);
 }

 .non-veg{
  text-align: center;
  width: 90%;
  height: 500px;
  margin: 5%;
  background-image: url('https://images.template.net/108164/non-veg-food-background-pc3tj.png');
  font-weight: 500;
  background-position: center;
  background-size: cover;
  color: rgb(201, 201, 201);
  display:none;
  /* visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none; */
 }
 .non-veg.open-table2{
  display:table;
/* use table to display in , beacuse the block element will not cover the space
 opacity:1;
visibility: visible;
pointer-events: auto; */
 }
.non-veg, th, td{
   border: 1px solid rgb(137, 137, 137);
  font-weight: 700;

}
.all{
   width: 80%;
  height: 80px;
  text-align:center;
  /* margin-left: 5%; */
  margin-top: 10%;
  font-size: 2rem;
  letter-spacing: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: rgb(82, 106, 200) underline;
  background-color:rgba(224, 236, 255, 0.278);
  border: 1.5mm ridge rgb(224, 238, 255);

}
 .all:hover{
   background-color:rgba(119, 178, 251, 0.278);
  border: 1.7mm ridge rgb(87, 139, 251);
 }
 .all:active{
  background-color:rgba(224, 236, 255, 0.278);
  border: 1.5mm ridge rgb(224, 238, 255);
 }
 .veg, .non-veg{
  max-height:0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
 }
 .veg.showOn , .non-veg.showOn{
opacity: 1;
max-height: 1000px;
display:table;

 }