@media(max-width:768px){
  .all-li{
    display:none;
    flex-direction: column;
    background-color: rgb(205, 203, 203);
    opacity: 80%;
    position: absolute;
    width: 100%;
    padding: 10px;
    top: 80px;
    right: 0px;
    margin: 10px;
    z-index: 1000;
    /* transition: all 1s ease-in-out; */
  }
  .box{
    margin-top: 45px;
    opacity: 100%;
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  .all-li.active{
    display: flex;
    flex-direction: column;
    height: 400px;
    /* transition: all 2s ease-in-out; */
  }
  .hambarger{
    display: block;
  
  }
  .for-oder{
    width: 40%;
    margin-left: 15%;
  }
  #first{
background-image: url(https://www.shutterstock.com/image-photo/watercolor-artistic-image-lunch-meals-260nw-2539433369.jpg);
max-width: 100%;
height: 500px;
background-size: cover;
opacity: 90%;

  }
  .food-title{
    font-size: 3rem;
    width: 100%;
    text-align: center;
    
  }
  .sub-title{
  position: absolute;
  top: 55%;
  width: 100%;
  text-align: center;
  
  }
  .for-grid{
    display: flex;
    flex-direction: column;
  }
  #four-logos{
    margin: 10%;
  }
  .about-chefs{
    margin: 5%;
    margin-bottom: 35%;
  }
  .images-of-chefs{
    height: 300px;
    width: 80%;
  }
  #menu{
    margin-bottom: 5px;
    height: 650px;
  }
  .button-box{
    width: 100%;
    margin-left: 0px;
    margin: 0px;
   
  }
  .timing-break{
    width: 100%;
    margin: 10px;
  }
  .food-img-01{
    width: 100%;
    border: none;
  }
  .timing-lunch{
    width: 100%;
    margin: 10px;
  }
  .food-img-02{
    width: 100%;
    border: none;
  }
  .timing-dinner{
    width: 100%;
    margin: 10px;
  }
  .food-img-03{
    width: 100%;
    border: none;
  }
  .timing-offer{
    width: 100%;
    margin: 10px;
    font-size: 0.7rem;
  }
  .food-img-04{
    width: 100%;
    border: none;
  }
  .food-box{
    height:300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
  #about-section{
    margin-top: 0;
   
  }
  .about-img{
    height:300px;
  }
  .s-title{
    font-size: 1rem;
  }
  .main-h{
    font-size: 2rem;
  }
  .about-content{
    display: none;
  }
  .information-box{
    height:120px;
  }
  #book-table{
    height:300px;
  }
  .book-odr{
    
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
  }
  .box-for-contact{
    margin-top: 12%;
  }
  #contact{
    height: 250px;
  }
  .for-numbers{
    margin-right: 0px;
  }
  .ph{
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin: 10px;
  }
  .other-con{
    margin-left: 10px;
  }
  .location{
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }
  .mail{
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }
  .link{
    margin-top: 10%;
  }
  .social-media{
    margin-top: 5%;
  }
  .logo{
    width: 7%;
  }

  #service-section-a{
    display:flex;
    flex-direction: column;
   
  }
  .online-order-img{
    width: 100%;
  }
  .online-order-img img{
   width: 60%;
   height: 250px;
  }
  .about-ordr{
  padding: 5px;
   font-size: 0.9rem;
  }
  #scoter img{
    width: 30%;
    height: 150px;
  }
  #scoter{
    height: 170px; 
  }
  .about-functions-food{
    font-size: 0.7rem;
    padding: 10px;
  }
  .functions-img img{
    height: 300px;
    margin-right: 5px;
  }
  #service-section-c{
    height: 350px;
  }
  .for-functions{
    font-size: 2rem;
  }
  .varity-heading{
    font-size: 2rem;
  }

#service-section-d{
  height: 650px;
}
#service-section-e{
  flex-direction: column;
  height: 800px;
}
#file-about-a{
  height: 1100px;
}
  
#file-about-b{
  flex-direction: column;

}
.background{
  width: 100%;
  text-align: center;
  margin: 1%;
 
}
.background img{
  width: 70%;
  height: 80%;
}
.about-struggle{
font-size: 1rem;
padding: 10px;
}
#file-about-c{
  height: 700px;
  flex-direction: column;
}
.hd-current{
  text-align: center;
  letter-spacing: 0.5rem;
}
.para-current{
  font-size: 1rem;
  margin: 7%;
  text-align: center;
}
.current-img img{
width: 80%;
height: 300px;
}
.about-staff{
  font-size: 0.7rem;
}
.left-arrow{
  height: 400px;
}
.right-arrow{
  height: 400px;
}
#section-contact-a{
  flex-direction: column;
  height: 800px;
  text-align: center;
}
body{
  overflow-x: hidden;
}
}